body {
    background-color: black;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.pagination-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.pagination-wrap .swiper-pagination-bullet {
    background-color: rgb(140, 138, 138);
}
.pagination-wrap .swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255); 
}
.button-next-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: absolute;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 1;
}
.button-prev-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    position: absolute;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 1;
}
@media (max-width: 768px) {
    .button-next-slide {
      position: absolute;
      top: calc(100% - 200px);
      right: 25px;
    } 
    .button-prev-slide {
        position: absolute;
        top: calc(100% - 200px);
        left: 25px;
    }
}
@media (min-width: 1000px) {
    .button-next-slide {
      position: absolute;
      top: calc(100% - 370px);
      right: 140px;
    }
  
    .button-prev-slide {
      position: absolute;
      top: calc(100% - 370px);
      left: 150px;
    }
}


